@model IEnumerable<CafeWebApp.Web.Models.Food>

@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

@{
    ViewBag.Title = "FoodMenu";
}

<h2>Menu</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodPrice)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="#" onclick="AddCart(@item.FoodId)">@Html.DisplayFor(modelItem=>item.FoodName)</a>
            </td>
            <td>
                RM @Html.DisplayFor(modelItem => item.FoodPrice)
            </td>
        </tr>
    }

</table>

<div class="alert-info text-center">
    <div id="result"></div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    function AddCart(foodId) {
        $.ajax({
            type: "POST",
            url: "/Customer/AddtoCart",
            data:{ Id: foodId },
            success: function (response) {
                $('#result').show();
                document.getElementById('result').innerHTML = response.message;
                $('#result').delay(5000).fadeOut('slow');
            }
        })
    }
</script>